[submodule "LeetCode"]
	path = LeetCode
	url = https://github.com/yoongyoonge/LeetCode-Practice.git
[submodule "Programmers"]
	path = Programmers
	url = https://github.com/yoongyoonge/Programmers-Practice.git
